@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400&display=swap');

.feedpage{
    background-color: #fffbdf;

    /* background-color: #fcf8e8; */

}
.banner {
    
    text-decoration: none;
    background-color: #fffbdf;
    justify-content: center;
    width: 100%;
    /* height: 600px; */
    text-align: center;
    align-items: center;
    padding-bottom: 8rem;
    padding-top: 10%;
    padding-left: 8%;
}

.head{
    font-family: 'Open Sans', sans-serif;
    padding: 0;
     margin: 0;
     letter-spacing: 1px;
     font-size: 7vh;
     font-weight: bolder;
}

.head-m{
    font-family: 'Open Sans', sans-serif;
    padding: 23px 11px 0 11px;
     margin: 0;
     letter-spacing: 1px;
     font-size:5vh;
     font-weight: bolder;
}

.tag1{
    margin: 0;
    padding: 0;
}
.note{
    padding:'0 2px 0 2px';
    margin: '0 1px 0 0px';
}

.pic{
    margin-top: 0;
    padding-top: 0;
    padding-bottom: 60px;
    width: 58%;
    
}

.contents{
    
    margin-left: 8%;
    margin-right: 5%;
}


h3 > .citys {
    
    text-decoration: none;
}

@media only screen and (min-width: 600px){
    .head-m{
      display: none;
    }
  }

@media only screen and (max-width: 600px){
    .head{
      display: none;
    }
  }

@media only screen and (min-width: 600px){
    .dot2{
      display: none;
    }
  }


@media only screen and (max-width: 600px){
    .contents{
        margin-left: 0;
        margin-right: 3px;
    }
  }

@media only screen and (max-width: 600px) {
    .banner{
    padding-left:0;
    padding-top: 60px;
    padding-bottom: 10px;

    };
    
  }

  @media only screen and (max-width: 600px){
    .head {
        font-size: 6vh;
      }
  }

  @media only screen and (max-width: 600px){
      .covid{
          font-size: 5vh;
          font-weight: 600;
      }
  }
  
  @media only screen and (max-width:600px){
      .pic{
          width: 82%;
      }
  }


  .Head{
    font-family: 'Open Sans', sans-serif;

    text-align: center;
}

.flagImage{
    /* margin: -130px 0 -175px 0; */
    margin-top: 10px;
    width: 170px;
    height: 180px;
    border-radius: 5%;
}

.dash2 {
    
    background-color: #fcf8e8;
}

@media only screen and (max-width: 600px) {
    .flagImage {
        width: 120px;
        height: 135px;
    }
}

@media only screen and (max-width: 600px) {
    p {
        margin-left: 0;
        padding-left: 0;
    }
}

/* p{
    margin-left: 24px;
} */

p > a {
    text-decoration: none;
    color: #f05454;
}

h3 {
    font-family: 'Open Sans', sans-serif;

    text-decoration: none;
    color: #f05454;
    
}
 
