.Head{
    text-align: center;
}

.selfImage{
    padding-top: 10px;
    width: 160px;
    height: 175px;
    border-radius: 5%;
}

.dash1 {
    padding-top: 70px;
    background-color: #f5feff;
}

.contents{
    margin-left: 8%;
    margin-right: 5%;
}



@media only screen and (max-width: 600px){
    .contents{
        margin-left: 0;
        margin-right: 3px;
    }
  }

@media only screen and (max-width: 600px) {
    .selfImage {
        width: 110px;
        height: 120px;
    }
}

p{
    margin-left: 24px;
}

p > a {
    text-decoration: none;
    color: #f05454;
}

h3 {
    text-decoration: none;
    color: #f05454;
    
}

