@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400&display=swap');


.cities{
    padding-top: 0vh;
    align-items: center;
    font-size: 5vh;

}
.citypage{
    font-family: 'Open Sans', sans-serif;

    padding-top: 70px;
    align-items: center;
    justify-content: center;
    text-align: center;
    text-decoration: none;
}

.list-group-item > a {
   text-decoration: none; 
}
