.Head{
    text-align: center;
}

.wbImage1{
   
    padding-top: 10px;
    width: 380px;
    height: 160px;
    border-radius: 5%;
}

.dash {
    background-color: #f5feff;
}

@media only screen and (max-width: 600px) {
    .wbImage1 {
        
        width: 270px;
        height: 140px;
    }
}

p{
    margin-left: 24px;
}

p > a {
    text-decoration: none;
    color: #f05454;
}

h3 {
    text-decoration: none;
    color: #f05454;
    
}

