.Head{
    text-align: center;
}

.mpImage{
   
    padding-top: 10px;
    width: 220px;
    height: 130px;
    border-radius: 5%;
}

.dash {
    background-color: #f5feff;
}

@media only screen and (max-width: 600px) {
    .mpImage {
        
        width: 200px;
        height: 110px;
    }
}

p{
    margin-left: 24px;
}

p > a {
    text-decoration: none;
    color: #f05454;
}

h3 {
    text-decoration: none;
    color: #f05454;
    
}

