* {
    box-sizing: border-box;
  }
  
  body {
    margin: 0px;
    font-family: 'segoe ui';
  }
  
.current > li {
  
    border-bottom: 2px solid black;
  
}

@media only screen and (max-width: 600px){
  .dot{
    display: none;
  }
}

  @media only screen and (max-width: 600px){
    .current > li {
  
    color: #f05454;
    border-bottom: none;
  }

  }

  .nav1 {
    height: 52px;
    width: 100%;
    background-color: #f1f6f9;
    /* position: relative; */
    position: fixed; /* Set the navbar to fixed position */
    top: 0; 
    z-index: 100;
  }
  
  .nav1 > .nav-header {
    display: inline;
    
  }
  
  .nav1 > .nav-header > .nav-title {
    display: inline-block;
    font-size: 22px;
    color: #1a1c20;
    padding: 10px 10px 10px 10px;
    text-align: center;
    text-decoration: none;
  }
  
  .nav1 > .nav-btn {
    display: none;
  }
  
  .nav1 > .nav-links {
    display: inline;
    float: right;
    font-size: 18px;
    padding-right: 18px;
  }


  .nav1 > .nav-header > .nav-title > a {
    
    display: inline-block;
    font-size: 22px;
    color: #1a1c20;
    padding: 0px 10px 10px 1px;
    text-align: center;
    text-decoration: none;
  }
  
  .nav1 > .nav-links > a {
    
    display: inline-block;
    padding: 13px 10px 13px 10px;
    text-decoration: none;
    color: #09015f;
  }
  
  .nav1 > .nav-links > a:hover {
    color: blue;
  }
  
  .nav1 > #nav-check {
    display: none;
  }
  
  @media (max-width:600px) {
    .nav1 > .nav-btn {
      display: inline-block;
      position: absolute;
      right: 0px;
      top: 0px;
    }
    .nav1 > .nav-btn > label {
      display: inline-block;
      width: 50px;
      height: 50px;
      padding: 10px;
    }
    .nav1 > .nav-btn > label:hover,.nav1  #nav-check:checked ~ .nav-btn > label {
      cursor: pointer;
      /* background-color: #fff600; */
    }
    .nav1 > .nav-btn > label > span {
       background-color: black;
    display: block;
    margin: 5px 0px 5px 0px;
    transition: 0.4s ease-in-out;
    transform: none;
      width: 30px;
      height: 3px;
     
    }
    .nav1 > .nav-links {
      position: absolute;
      display: block;
      width: 100%;
      background-color: #f1f6f9;
      height: 0px;
      transition: all 0.6s ease-in;
      overflow-y: hidden;
      top: 50px;
      left: 0px;
      z-index: 100;
      
    }

    .nav1 > .nav-links > a {
      display: block;
      width: 100%;
    }

    .nav1 > #nav-check:not(:checked) ~ .nav-links {
      height: 0px;
    }

    .nav1 > #nav-check:checked ~ .nav-links {
      height: calc(100vh - 325px);
      overflow-y: auto;
    }

    .nav1 > #nav-check:checked ~ .nav-btn span:nth-of-type(1) {
    transform: translate(0%, 240%) rotate(-45deg);
    background-color: black;
  }
  
  .nav1 > #nav-check:checked~ .nav-btn span:nth-of-type(2) {
    transform: rotate(45deg);
    background-color: black;
  }
    
    .nav1 > #nav-check:checked~ .nav-btn span:nth-of-type(3) {
    opacity: 0;
  }
  }


  @media only screen and (max-width: 600px){
    .nav1 > .nav-links {
      border-bottom: #f05454 solid 3px;
    }
  }

  @media only screen and (min-width: 600px){
    .nav1  {
      border-bottom: #f05454 solid 3px;
    }
  }
  
  