.Head{
    text-align: center;
}

.delhiImage{
   
    padding-top: 10px;
    width: 480px;
    height: 150px;
    border-radius: 5%;
}

.dash {
    background-color: #f5feff;
}

@media only screen and (max-width: 600px) {
    .delhiImage {
        
        width: 270px;
        height: 100px;
    }
}

p{
    margin-left: 24px;
}

p > a {
    text-decoration: none;
    color: #f05454;
}

h3 {
    text-decoration: none;
    color: #f05454;
    
}

