.Head{
    text-align: center;
}

.ahemdabadImage{
    /* margin: -130px 0 -175px 0; */
    padding-top: 10px;
    width: 550px;
    height: 230px;
    border-radius: 5%;
}

.pagedata{
    padding-top: 60px;
}

@media only screen and (max-width: 600px) {
    .ahemdabadImage {
        /* margin: -90px 0 -100px 0; */
        width: 280px;
        height: 130px;
    }
}

p{
    margin-left: 24px;
}